{% extends 'layout.twig' %}

{% block stylesheet %}
    <link rel='stylesheet' href='/stylesheets/dh.min.css' />
{% endblock %}

{% block body %}
    <div id="imgtxt" class="imgtxt dh-container">
        <img src="img/{{line.id}}.jpg" alt="Image de l'expo">   
        <div class="ftxt">
            {{line.txt}}
        </div>

        <div class="imgtxt dh-overlay">
            <img src="img/{{line.id}}_sec.jpg" alt="Image de l'expo">
            <div id="txt2" class="ftxt">
                {{line.txt2}}
            </div>
        </div>
    </div>

    <div id="cont_messbox" >
        <div id="child_messbox">
            <p id="mess" class="mess invisible"></p>
            <img id="loadgif" class="invisible" src="images/fr_wave.agif" alt="gif de chargement">
            <form id="next" class="" action="/" method="post">
                <label for="mdp">Mot de passe : </label>
                <input id = "i_mdp" type="mdp" name="mdp" >
                <input type="submit" value="Suivant" >
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="javascripts/dh.min.js"></script>
    <script type="text/javascript">
    //https://www.jqueryscript.net/animation/Mouse-Direction-aware-jQuery-Hover-Effect-Plugin-Directional-Hover.html
        var t = 0;

        function askServer(mdp,callback,callfail){
            $("#loadgif").toggleClass("invisible");
            $.post("/check",{mdp:mdp},function(data){
                $("#loadgif").toggleClass("invisible");
                if(data=='OK')
                    callback();
                else
                    callfail();
            });
        }

        function displayIncMess(mess){
            $("#mess").removeClass("invisible");
            $("#mess").html("Éssai n°"+ ++t + " : " +mess);
        }

        $("form#next").submit(function(e) {
            e.preventDefault();
            askServer($("#i_mdp").val(),
            function(){
                $("form#next").unbind('submit').submit()},
            function(){
                displayIncMess("Mauvais mot de passe.");
            });
        });

        $('.dh-container').directionalHover({

          // CSS class for the overlay
          overlay: "dh-overlay",

          // Linear or swing
          easing: "swing",

          // <a href="https://www.jqueryscript.net/animation/">Animation</a> speed in ms
          speed: 400

        });
    </script>
{% endblock %}



{% block style %}
<style>
#imgtxt{
    border:  solid 1px black;
    margin: 25%;
    margin-top: 10%;
    margin-bottom: 0%;
    align-items: center;
}

img{
    max-height: 50vh;
}

.ftxt{
    width: 100%;
    background-color: white;
}

#cont_messbox{
    position: absolute;
    top: 50%;
    left: 50%;
}

#child_messbox{
    border: solid black 1px;
    position: relative;
    left: -50%;
}

.dh-container {
  position: relative;
  overflow: hidden;
}

.dh-overlay {
  position: absolute;
  top: -100%;
}

</style>

{% endblock %}
