{% extends 'layout.twig' %}

{% block stylesheet %}
    <link rel='stylesheet' href='/stylesheets/dh.min.css' />
{% endblock %}

{% block body %}
    <div id="imgtxt" class="dh-container imgtxt " onclick="toggleMdp()">
        <div class="flexcenter">
            <img id="img1" src="img/{{line.id}}.jpg" alt="Image de l'expo"/>
            <div class="ftxt">
                {{line.txt}}
            </div>
        </div>

        <div id="innertxtimg" class="imgtxt_sec dh-overlay flexcenter">
            <img id="img2" src="img/{{line.id}}_sec.jpg" alt="Image de l'expo"/>
            <div class="ftxt">
                {{line.txt2}}
            </div>
        </div>
    </div>

    <div id="cont_messbox" class="invisible">
        <div id="child_messbox">
            <form id="next" class="" action="/" method="post">
                <h2 for="mdp">Mot de passe : </h2>
                <input id = "i_mdp" type="mdp" name="mdp" >
                <input type="submit" value="Suivant" >
            </form>
            <p id="mess" class="mess invisible"></p>
            <img id="loadgif" class="invisible" src="images/fr_wave.agif" alt="gif de chargement">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/javascripts/dh.min.js"></script>
    <script type="text/javascript">
    //https://www.jqueryscript.net/animation/Mouse-Direction-aware-jQuery-Hover-Effect-Plugin-Directional-Hover.html
        var t = 0;

        function askServer(mdp,callback,callfail){
            $("#loadgif").toggleClass("invisible");
            $.post("/check",{mdp:mdp},function(data){
                $("#loadgif").toggleClass("invisible");
                if(data=='OK')
                    callback();
                else
                    callfail();
            });
        }

        function displayIncMess(mess){
            $("#mess").removeClass("invisible");
            $("#mess").html("Éssai n°"+ ++t + " : " +mess);
        }

        $("form#next").submit(function(e) {
            e.preventDefault();
            askServer($("#i_mdp").val(),
            function(){
                $("form#next").unbind('submit').submit()},
            function(){
                displayIncMess("Mauvais mot de passe.");
            });
        });

        var on = false;
        var toggleMdp = function(e){
            on = on ? false : true;
            if(on){
                $("#cont_messbox").toggleClass("invisible");
                $("#cont_messbox").animate({ opacity: 1 }, 700);
            }else{
                $("#cont_messbox").animate({ opacity: 0 }, 700,"swing",function(){
                    $("#cont_messbox").toggleClass("invisible");
                });
            }
            e.stopPropagation();
        };

        //$("#cont_messbox").click(toggleMdp);

        $('.dh-container').directionalHover({

          // CSS class for the overlay
          overlay: "dh-overlay",

          // Linear or swing
          easing: "swing",

          // <a href="https://www.jqueryscript.net/animation/">Animation</a> speed in ms
          speed: 400

        });
    </script>
{% endblock %}



{% block style %}
<style>
body{
    padding: 0px;
}

.imgtxt{
    margin: 25%;
    margin-top: 10%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.imgtxt_sec{
    background-color: white;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

img{
    align-self: center;
    max-height: 60vh;
}

#img2{
    margin: 25%;
    margin-top: 0%;
    margin-bottom: 0%;
}


.flexcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ftxt{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;

}

#cont_messbox{
    position: absolute;
    background-color: white;
    top: 15%;
    left:25%;
    right:35%;
    width : 50%;
    height: 40%;
    opacity: 0;
    -webkit-box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.30);
    -moz-box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.30);
    box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.30);
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding-top: 30%;
}

#child_messbox{
  display: inline-block;
}


#loadgif{
    height : 5%;
    width: auto;
}

</style>

{% endblock %}
