<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    {% block stylesheet %}{% endblock %}
  </head>
  <body >
      <div onclick="toggleMdp()">
        {% block body %}{% endblock %}
      </div>
      <div id="cont_messbox" class="invisible">
          <div id="child_messbox">
              <form id="next" class="" action="/" method="post">
                  <h2 for="mdp">Mot de passe : </h2>
                  <input id = "i_mdp" type="password" name="mdp" >
                  <input type="submit" value="Suivant" >
              </form>
              <p id="mess" class="mess invisible"></p>
              <img id="loadgif" class="invisible" src="images/fr_wave.agif" alt="gif de chargement">
          </div>
      </div>
      <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
      {% block js %}{% endblock %}
  </body>

  <style>
    .invisible{
          display: none !important;
    }
  </style>
  {% block style %}{% endblock %}

</html>
