<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     {% block js %}{% endblock %}
  </body>

  <style>
    .invisible{
          display: none;
      }
  </style>
  {% block style %}{% endblock %}

</html>
